Repository CrayLabs/SmartRedis, pull requests merged in 2021-06, with the labels that each got.

#67 Fixes build of GPU dependencies for RedisAI
  build-scripts/build-redisai-gpu.sh
Labels: area: build, type: bug

#61 Perform metadata serialization without protobuf
  CMakeLists.txt
  README.md
  build-scripts/build_deps.sh
  include/client.h
  include/dataset.h
  include/enums/cpp_metadata_type.h
  include/metadata.h
  include/metadatabuffer.h
  include/metadatafield.h
  include/scalarfield.h
  include/scalarfield.tcc
  include/stringfield.h
  src/cpp/client.cpp
  src/cpp/dataset.cpp
  src/cpp/metadata.cpp
  src/cpp/metadatafield.cpp
  src/cpp/stringfield.cpp
  utils/protobuf/smartredis.pb.cc
  utils/protobuf/smartredis.pb.h
  utils/protobuf/smartredis.proto
Labels: area: C++, area: build, type: refactor

#65 Remove warning output for TimeoutError and IOError
  src/cpp/redis.cpp
  src/cpp/rediscluster.cpp
Labels: area: C++, type: refactor

#66 copy, rename, delete tensor and dataset
  include/pyclient.h
  src/cpp/client.cpp
  src/python/bindings/bind.cpp
  src/python/module/smartredis/client.py
  src/python/module/smartredis/dataset.py
  src/python/module/smartredis/util.py
  src/python/src/pyclient.cpp
  tests/python/test_dataset_methods.py
  tests/python/test_dataset_ops.py
  tests/python/test_errors.py
  tests/python/test_put_get_tensor.py
  tests/python/test_tensor_ops.py
Labels: area: python, type: feature
