Repository CrayLabs/SmartRedis, pull requests merged in 2021-07, with the labels that each got.

#72 Fix Tensor and TensorBase move assignment operator
  include/tensor.tcc
  src/cpp/tensorbase.cpp
Labels: area: C++, type: bug

#76 Pin PyBind to v2.6.2.
  build-scripts/build_deps.sh
Labels: area: build, type: bug

#78 hiredis path fix
  build-scripts/build_deps.sh
Labels: area: build, type: bug

#83 Implement commands without keys; Add INFO command to Python Client
  include/client.h
  include/command.h
  include/commandreplyparser.h
  include/pyclient.h
  include/redis.h
  include/rediscluster.h
  include/redisserver.h
  src/cpp/client.cpp
  src/cpp/command.cpp
  src/cpp/redis.cpp
  src/cpp/rediscluster.cpp
  src/python/bindings/bind.cpp
  src/python/module/smartredis/client.py
  src/python/src/pyclient.cpp
  tests/python/test_nonkeyed_cmd.py
Labels: area: python, type: feature

#80 Add CommandList and Command copy and move operators
  include/command.h
  include/commandlist.h
  src/cpp/command.cpp
  src/cpp/commandlist.cpp
Labels: area: C++, type: feature

#95 Fortran cleanup
  src/fortran/client.F90
  src/fortran/client/put_tensor_methods_common.inc
  src/fortran/client/unpack_tensor_methods_common.inc
  src/fortran/dataset.F90
  src/fortran/dataset/add_meta_scalar_common.inc
  src/fortran/dataset/add_tensor_methods_common.inc
  src/fortran/dataset/get_meta_scalars_common.inc
  src/fortran/dataset/unpack_dataset_tensor_methods_common.inc
Labels: area: fortran, type: refactor

#96 Unit Test Infrastructure and Code Coverage Report For C++ Client
  Makefile
  build-scripts/build-catch.sh
  build-scripts/build-lcov.sh
  build-scripts/build_cpp_cov.sh
  build-scripts/build_cpp_unit_tests.sh
  build-scripts/build_test_deps.sh
  doc/developer/testing.rst
  doc/testing.rst
  include/command.h
  include/commandreply.h
  include/dataset.h
  src/cpp/dataset.cpp
  src/cpp/tensorpack.cpp
  tests/cpp/client_test_utils.h
  tests/cpp/unit-tests/CMakeLists.txt
  tests/cpp/unit-tests/main.cpp
  tests/cpp/unit-tests/test_client.cpp
  tests/cpp/unit-tests/test_client_ensemble.cpp
  tests/cpp/unit-tests/test_command.cpp
  tests/cpp/unit-tests/test_commandlist.cpp
  tests/cpp/unit-tests/test_commandreply.cpp
  tests/cpp/unit-tests/test_dataset.cpp
  tests/cpp/unit-tests/test_dbnode.cpp
  tests/cpp/unit-tests/test_metadata.cpp
  tests/cpp/unit-tests/test_ssdb.cpp
  tests/cpp/unit-tests/test_stringfield.cpp
  tests/cpp/unit-tests/test_tensor.cpp
  tests/cpp/unit-tests/test_tensorbase.cpp
  tests/cpp/unit-tests/test_unit_cpp_client.py
Labels: area: C++, area: test

#104 Fix breathe to version 4.26.0
  requirements-dev.txt
Labels: area: build, area: docs, area: third-party
