Repository CrayLabs/SmartRedis, pull requests merged in 2022-01, with the labels that each got.

#177 Build matrix for CI
  .github/workflows/run_tests.yml
  doc/installation.rst
Labels: area: build

#201 Prevent Make Clean From Clobbering Catch2
  build-scripts/build-catch.sh
  tests/cpp/unit-tests/main.cpp
  tests/cpp/unit-tests/test_addressanycommand.cpp
  tests/cpp/unit-tests/test_addressatcommand.cpp
  tests/cpp/unit-tests/test_client.cpp
  tests/cpp/unit-tests/test_client_ensemble.cpp
  tests/cpp/unit-tests/test_clusterinfocommand.cpp
  tests/cpp/unit-tests/test_commandlist.cpp
  tests/cpp/unit-tests/test_commandreply.cpp
  tests/cpp/unit-tests/test_compoundcommand.cpp
  tests/cpp/unit-tests/test_dataset.cpp
  tests/cpp/unit-tests/test_dbinfocommand.cpp
  tests/cpp/unit-tests/test_dbnode.cpp
  tests/cpp/unit-tests/test_metadata.cpp
  tests/cpp/unit-tests/test_multikeycommand.cpp
  tests/cpp/unit-tests/test_redisserver.cpp
  tests/cpp/unit-tests/test_singlekeycommand.cpp
  tests/cpp/unit-tests/test_ssdb.cpp
  tests/cpp/unit-tests/test_stringfield.cpp
  tests/cpp/unit-tests/test_tensor.cpp
  tests/cpp/unit-tests/test_tensorbase.cpp
Labels: area: build, area: test

#199 Improve python error handling
  include/enum_fortran.inc
  include/srexception.h
  src/cpp/client.cpp
  src/cpp/dataset.cpp
  src/cpp/rediscluster.cpp
  src/fortran/client.F90
  src/python/bindings/bind.cpp
  src/python/module/smartredis/client.py
  src/python/module/smartredis/dataset.py
  src/python/module/smartredis/error.py
  src/python/module/smartredis/util.py
  src/python/src/pyclient.cpp
  src/python/src/pydataset.cpp
  tests/cpp/unit-tests/test_client.cpp
  tests/cpp/unit-tests/test_dataset.cpp
  tests/python/test_dataset_ops.py
  tests/python/test_errors.py
  tests/python/test_nonkeyed_cmd.py
Labels: type: feature, area: test, area: python, area: C++
