Repository CrayLabs/SmartRedis, pull requests merged in 2022-06, with the labels that each got.

#258 Implement dataset aggregation for Fortran
  include/c_client.h
  src/c/c_client.cpp
  src/fortran/client.F90
  src/fortran/client/aggregation_interfaces.inc
  src/fortran/dataset/dataset_interfaces.inc
  tests/fortran/CMakeLists.txt
  tests/fortran/client_test_dataset_aggregation.F90
Labels: area: test, area: fortran

#259 Add documentation of new environment variables
  doc/runtime.rst
  include/redisserver.h
Labels: area: docs

#260 Fortran docs
  src/fortran/client.F90
  src/fortran/client/put_tensor_methods_common.inc
  src/fortran/client/unpack_tensor_methods_common.inc
  src/fortran/dataset.F90
  src/fortran/dataset/add_tensor_methods_common.inc
  src/fortran/dataset/unpack_dataset_tensor_methods_common.inc
  tests/cpp/test_cpp_client.py
Labels: area: docs, area: fortran

#263 Release notes for SmartRedis v0.3.1
  doc/changelog.rst
Labels: area: docs
